.login--container {
  /* background: #5f6778; */

  height: 100vh;
  justify-content: center;
  align-content: center;
}

.login--container h1 {
  font-size: 1.8rem;
  background: linear-gradient(to right, #6d36b0, #ef7fc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--container,
.card--container__signup {
  margin: auto;
  max-width: 50%;
  height: 70%;

  background-color: #f3eeee;
  border-radius: 40px;

  position: relative;

  display: flex;
}

.card--container {
  border-top-left-radius: 90px;
}

.card--container__signup {
  border-top-right-radius: 90px;
}

.card--container__signup:after {
  border-top: 70px solid #181820;
  border-left: 70px solid transparent;
}

.card--container:before {
  border-top: 70px solid #181820;
  border-right: 70px solid transparent;
}

.card--container:before,
.left--container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  /* width: 0;  */
}

.card--container__signup:after,
.card--container__signup .left--container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  /* width: 0;  */
}

.left--container,
.card--container__signup .left--container {
  width: 100%;
  height: 100%;
  background-color: #d0d0e4;
  border-radius: 20px;

  position: relative;
  padding-top: 10%;
}

.left--container {
  border-top-left-radius: 95px;
}

.card--container__signup .left--container {
  border-top-right-radius: 95px;
}

.right--container {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.card--container__signup .left--container::after {
  border-top: 75px solid #f3eeee;
  border-left: 75px solid transparent;
}

.card--container__signup .left--container::before {
  border-top: none;
  border-right: none;
}

.left--container::before {
  border-top: 75px solid #f3eeee;
  border-right: 75px solid transparent;
}

.right--container,
.left--container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  flex-direction: column;
  gap: 1.2rem;

  padding-inline: 1.2rem;
}

.form--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form--field__container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.form--field__container label {
  font-size: var(--login-14px);
}

.error--message {
  color: rgb(231, 59, 59);
  font-size: 0.8rem;
}

.input--container {
  width: 100%;
  background-color: #f3eeee;
  border-radius: 8px;
  outline: none;

  padding: 0.4rem;
  font-size: var(--login-14px);
}

.password--toggle__btn {
  width: 20px;
  height: 20px;

  position: absolute;
  right: 30px;

  cursor: pointer;
}

.passward--container {
  display: flex;
  align-items: center;
}

.form--btn.btn-flip,
.form--btn {
  background: linear-gradient(to right, #9b5de5, #f15bb5);

  min-width: 100px;
  /* padding-inline: 0.4rem; */
  height: 40px;
  /* 
  margin: auto; */

  border-radius: 12px;
}

.form--btn,
.form--btn.btn-flip {
  position: absolute;
  bottom: 12%;
}

.right--container__btn:hover {
  background: transparent;
}

.right--container__btn:hover p {
  color: #6d36b0;
}

.right--container__btn {
  background: linear-gradient(to right, #9b5de5, #f15bb5);
  min-width: 100px;
  height: 40px;
  border-radius: 12px;
}

.right--container {
  justify-content: center;
  align-items: center;
}

.right--container button p {
  color: #f3eeee;
  font-size: var(--login-14px);
}

/* .right--container button:hover {
  background-color: #fff;
} */

.form--btn p {
  font-size: var(--login-14px);
}

.fake--btn svg {
  border-radius: 12px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.right--container__btn svg {
  position: relative;
}

.fake--btn rect,
.right--container__btn rect {
  fill: none;
  stroke: url(#gradientStroke); /* Apply gradient to stroke */
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.fake--btn:hover,
.right--container__btn:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.fake--btn:hover rect,
.right--container__btn:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* *SUBMIT BUTTON ANIMATION */
/* Keyframes for fade in and fade out */
/* Keyframes for fade and slide out */
@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px); /* Adjust the value as needed */
  }
}

/* Keyframes for fade and slide in */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Adjust the value as needed */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide up and fade out class */
.fade-out {
  animation: fadeSlideOut 2s forwards;
}

/* Slide in and fade in class */
.fade-in {
  animation: fadeSlideIn 2s forwards;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #f3eeee;
  line-height: 40px;
  position: relative;

  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 12px;

  /* letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase; */
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  border-radius: 12px;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #2a2a38;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #f3eeee;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  border-radius: 12px;
  top: 0;
  left: 0;
  opacity: 1;
  color: #f3eeee;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: linear-gradient(to right, #9b5de5, #f15bb5);

  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
